[submodule "core"]
	path = core
	url = ssh://git@cybersprocket.com/home/lobbrary/repos/products/MP-Amazon-core.git
[submodule "Panhandler"]
	path = Panhandler
	url = git@github.com:charlestonsoftware/panhandler.git
[submodule "WPCSL-generic"]
	path = WPCSL-generic
	url = git@github.com:charlestonsoftware/WPCSL-generic.git
